@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --trip-teal: 13,115,130;
  --trip-mint: 125, 201, 191;
  --trip-pale-mint: 178, 222, 219;
  --trip-neon-green: 212,255,92;
  --trip-charcoal: 43, 48, 51;
  --trip-light-charcoal: 102, 102, 102;
  --trip-light-grey: 230, 231, 232;
  --trip-pale-teal: 179, 200, 200;

  --teal: rgb(var(--trip-teal));
  --light-grey: rgb(var(--trip-light-grey));
  --charcoal: rgb(var(--trip-charcoal));
  --light-charcoal: rgb(var(--trip-light-charcoal));
  --neon-green: rgb(var(--trip-neon-green));
  --mint: rgb(var(--trip-mint));
  --pale-mint: rgb(var(--trip-pale-mint));
  --pale-teal: rgb(var(--trip-pale-teal));
  --main-padding: max(calc((100vw - 60rem) / 2 - 5.5rem), 3rem);
  --teal-highlight: #4c8995;
}
* {
  @apply box-border;
}
html, body {
  @apply p-0 m-0 text-white text-base;
  background-color: var(--teal);
  font-family: Montserrat, sans-serif;
}
b {
  @apply font-black;
}
h1, h2, h3, h4, h5 {
  @apply lowercase;
  font-family: 'Playfair Display', serif;
  color: var(--teal);
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-xl;
}
h1 .alt, h2 .alt {
  color: var(--pale-teal);
}
.tea {
  @apply font-bold;
  font-family: 'Playfair Display', serif;
}
.logo {
  @apply w-auto h-12;
}
#masthead {
  @apply bg-white flex items-center;
  color: var(--light-charcoal);
  padding: 2.45rem 3rem;
  padding-left: var(--main-padding);
}
#masthead nav {
  @apply ml-auto;
}
#masthead nav ol {
  @apply list-none m-0 p-0 font-bold;
}
#masthead nav ol li {
  @apply inline-block;
  padding: 0 1rem;
}

.content {
  @apply p-8;
}
.content1 {
  background: var(--light-grey);
  color: var(--charcoal);
}
.content2 {
  @apply bg-white;
  color: var(--light-charcoal);
}
.content3 {
  background: inherit;
  color: inherit;
}
.content3 h1, .content3 h2, .content3 h3, .content3 h4, .content3 h5 {
  @apply text-white;
}
.content {
  padding: 1rem max(calc((100vw - 60rem) / 2), 1rem);
}
p {
  max-width: 34em;
  line-height: 1.65;
}

.content > *:first-child {
  @apply mt-20;
}
.content > *:last-child {
  @apply mb-20;
}

b, strong {
  color: var(--charcoal);
}

strong {
  @apply font-medium;
}

.content3 b, .content3 strong {
  @apply text-white;
}

b {
  @apply relative z-0;
}
b::before {
  @apply absolute;
  content: "";
  inset: 0;
  top: 55%;
  left: -0.2rem;
  height: 60%;
  width: calc(100% + 0.4rem);
  background: var(--neon-green);
  z-index: -1;
}
.content3 b::before {
  background: var(--teal-highlight);
}

.content3 {
  @apply relative;
}
.content3 h2 {
  @apply relative z-0;
}

.content3 p {
  @apply z-0;
}

.content3 .flair {
  @apply absolute h-56 w-32;
  content: "";
  background: var(--teal-highlight);
  inset: 0;
  left: var(--main-padding);
  z-index: -1;
}

code.example {
  @apply text-white p-4 text-2xl inline-block;
  background: var(--teal);
  border: 1px dashed var(--light-grey);
}
code.example.small {
  @apply text-xl;
}
pre, code {
  font-family: 'Courier New', monospace;
}
a {
  @apply no-underline;
  color: var(--mint);
}
a:hover, a:visited:hover {
  color: var(--pale-mint);
}
a:active, a:hover:active {
  color: var(--neon-green);
}
.content1 a {
  color: var(--teal);
}
.content3 a {
  @apply text-teal-500;
}
.content3 a:hover, .content3 a:visited:hover {
  @apply text-teal-300;
}
.content3 a:active, .content3 a:hover:active {
  @apply text-teal-400;
}
a.button, input[type=submit] {
  @apply leading-10 rounded-lg bg-white inline-block font-bold uppercase;
  padding: 0 5rem;
  color: var(--charcoal);
  letter-spacing: 0.125rem;
  border: 0;
}
a.button:hover, input[type=submit]:hover, a.button:visited:hover, input[type=submit]:visited:hover {
  @apply bg-teal-300;
  color: var(--charcoal);
}
a.button:active, input[type=submit]:active, a.button:visited:active, input[type=submit]:visited:active {
  @apply bg-teal-400;
}
.content2 a.button {
  @apply bg-teal-500 text-white;
}
a.button:hover, a.button:visited:hover {
  @apply bg-teal-300 text-white;
}
a.button:active, a.button:visited:active {
  @apply bg-gray-400 text-white;
}
ul.linktree {
  @apply list-none m-0 -ml-5 mt-8 mb-16 p-0 table flex-col;
  border-collapse: separate;
  border-spacing: 1rem;
}
ul.linktree li {
  @apply table-row text-center;
}
ul.linktree li a {
  @apply table-cell;
}
.twocol {
  @apply grid gap-24;
  grid-template-columns: repeat(auto-fill, calc(50% - 3rem));
}
img.constrained {
  @apply max-w-full max-h-full;
}

.genuine-innovation .twocol > div:first-child {
  padding: 2rem 0 3rem 0;
}
.genuine-innovation .twocol:first-child {
  @apply mb-40;
}
.genuine-innovation .twocol:nth-child(2) {
  @apply mb-40;
}

.hero p {
  font-size: larger;
}

input[type=email] {
  @apply m-0 leading-10 rounded-lg mr-4;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  padding: 0 1.5em;
  width: 20em;
  transform: translateY(-1px) translateX(-3px); /* or not aligned with submit button */
}

input[type=submit] {
  @apply m-0;
  font-size: 100%;
  padding: 0 1.5rem;
}

.content2 input[type=email] {
  @apply mr-0;
  background-color: var(--pale-mint);
  color: var(--teal);
  width: 14em;
}

.content2 input[type=email]::placeholder {
  color: rgba(var(--trip-teal), 0.5);
}

.aside {
  @apply text-left;
  font-variant: small-caps;
  opacity: 0.5;
}

.left-a-bit {
  transform: translateX(-3rem);
}
.right-a-bit {
  transform: translateX(3rem);
}

.twocol.left-a-bit, .twocol.right-a-bit {
  @apply gap-12;
}
