@media (min-width: 62rem) {
  .something-new-is-brewing {
    /* not sure why, but removing this screws with the image on the right */
    @apply inline-block relative;
  }
  .something-new-is-brewing h1, .genuine-innovation h2 {
    @apply mt-0; /* margin collapse doesn’t work due to above [1] */
  }

  .content > *:first-child.something-new-is-brewing {
    @apply mt-12;
  }
  .content > *:last-child.something-new-is-brewing {
    @apply mt-12;
  }

  .genuine-innovation .twocol > div:first-child {
    @apply p-0;
  }

  .genuine-innovation .twocol:nth-child(2) {
    @apply mb-12;
  }
}

.hero {
  @apply relative;
}

@media (max-width: 62rem) {
  .content {
    @apply p-0 pr-6 flow-root;
  }
  .content > *:first-child {
    @apply mt-8;
  }
  .content > *:last-child {
    @apply mb-8;
  }
  h1 {
    @apply mt-4;
  }
  .twocol {
    @apply inline; /* to make margin-collapse happen */
  }
  .right-a-bit, .left-a-bit {
    transform: unset;
  }
  ul.linktree {
    display: initial;
  }
  ul.linktree li {
    @apply block mb-4;
  }
  ul.linktree li>*, ul.linktree li a {
    @apply block w-full text-center mt-1
  }
}

@media (max-width: 43rem) {
  .logo {
    @apply h-8;
  }
  #masthead {
    @apply p-6;
  }
}
@media (max-width: 24.375rem) {
  body, html {
    @apply text-sm;
  }
}
@media (max-width: 20rem) {
  body, html {
    @apply text-xs;
  }
}


.image-container {
  @apply relative;
}
.image-container-mobile {
  position: unset;
}

.image-container-mobile.blockchain {
  @apply pt-12;
}

@media (max-width: 62rem) {
  .image-container {
    position: unset;
  }
  .image-container-mobile {
    @apply relative pt-32;
  }

  .image-container-mobile.blockchain {
    @apply pt-52;
  }
  .image-container-mobile.genuine-innovation {
    @apply pt-12;
  }
}

.something-new-is-brewing img {
  @apply absolute bottom-0;
  right: -30rem;
  width: 26rem;
}

.lightbulb .image-container img {
  @apply h-64 absolute left-0;
  top: 3rem;
}

.blockchain .image-container img {
  @apply absolute;
  top: 3rem;
  right: -1rem;
  height: 25rem;
  max-height: 45rem;
}

.open-governance .image-container img {
  @apply absolute h-60 top-0 left-0;
}

.we-are-hiring .image-container img {
  @apply h-56 absolute top-0 right-0;
}

@media (max-width: 62rem) {
  .lightbulb .image-container img {
    @apply h-48 top-0;
    right: -2rem;
    left: unset;
  }
  .image-container-mobile.lightbulb {
    @apply pt-16;
  }
  .blockchain .image-container img {
    @apply right-0;
    height: 22rem;
    top: -1rem;
    left: -5.8rem;
    clip-path: inset(10px 0 10px 0);
  }
  .we-are-hiring .image-container img {
    @apply h-40 absolute top-0 right-0;
  }
  .open-governance .image-container img {
    @apply h-32 right-0;
    left: unset;
    top: -1rem;
  }
  .blockchain h2 {
    @apply pl-6;
  }
  .blockchain form {
    @apply mb-4;
  }
  form input[type="submit"] {
    font-size: 72%;
    -webkit-appearance: none;
  }
  input[type=email] {
    @apply w-6/12;
  }
  h2 {
    @apply relative;
    z-index: 1;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
  }
  .lightbulb h2, .blockchain h2, .genuine-innovation h2 {
    @apply inline-block;
    margin-bottom: 0.83rem;
  }
  .blockchain, .lightbulb {
    @apply block;
  }
  .something-new-is-brewing img {
    @apply w-auto;
    right: -12em;
    height: 14em;
    top: 2.5em;
    bottom: unset;
  }
  code.example.small {
    @apply max-w-full min-w-full overflow-scroll;
  }

  .content {
    @apply overflow-hidden;
  }
}

@media (min-width: 90rem) {
  .logo {
    height: 2.8rem;
  }
  #masthead {
    @apply pt-10 pb-10;
  }
}