:root {
  --trip-teal: 13,115,130;
  --trip-mint: 125, 201, 191;
  --trip-pale-mint: 178, 222, 219;
  --trip-neon-green: 212,255,92;
  --trip-charcoal: 43, 48, 51;
  --trip-light-charcoal: 102, 102, 102;
  --trip-light-grey: 230, 231, 232;
  --trip-pale-teal: 179, 200, 200;

  --teal: rgb(var(--trip-teal));
  --light-grey: rgb(var(--trip-light-grey));
  --charcoal: rgb(var(--trip-charcoal));
  --light-charcoal: rgb(var(--trip-light-charcoal));
  --neon-green: rgb(var(--trip-neon-green));
  --mint: rgb(var(--trip-mint));
  --pale-mint: rgb(var(--trip-pale-mint));
  --pale-teal: rgb(var(--trip-pale-teal));
  --main-padding: max(calc((100vw - 60rem) / 2 - 5.5rem), 3rem);
  --teal-highlight: #4c8995;
}
* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}

body, html {
  background-color: var(--teal);
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 16px;
}
b {
  font-weight: 900;
}
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
  color: var(--teal);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h1 .alt, h2 .alt, h3 .alt {
  color: var(--pale-teal);
}
.tea {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
.logo {
  width: auto;
  height: 2.2rem;
}
#masthead {
  background: white;
  color: var(--light-charcoal);
  padding: 1.8rem 3rem;
  padding-left: var(--main-padding);
  display: flex;
  align-items: center;
}
#masthead nav {
  margin-left: auto;
}
#masthead nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
#masthead nav ol li {
  display: inline-block;
  padding: 0 1rem;
}

#masthead img {
  transform: translateY(-13%)
}

.content {
  padding: 2rem;
}
.content1 {
  background: var(--light-grey);
  color: var(--charcoal);
}
.content2 {
  background: white;
  color: var(--light-charcoal);
}
.content3 {
  background: inherit;
  color: inherit;
}
.content3 h1, .content3 h2, .content3 h3, .content3 h4, .content3 h5 {
  color: white;
}
.content {
  padding: 1rem max(calc((100vw - 60rem) / 2), 1rem);
}
p {
  max-width: 34em;
  line-height: 1.65;
}

.content > *:first-child {
  margin-top: 3rem;
}
.content > *:last-child {
  margin-bottom: 3rem;
}

b, strong {
  color: var(--charcoal);
}

strong {
  font-weight: 500;
}

.content3 b, .content3 strong {
  color: white;
}

b {
  position: relative;
  z-index: 0;
}
b::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 55%;
  left: -0.2rem;
  height: 60%;
  width: calc(100% + 0.4rem);
  background: var(--neon-green);
  z-index: -1;
}
.content3 b::before {
  background: var(--teal-highlight);
}

.content3 {
  position: relative;
}
.content3 h2 {
  position: relative;
  z-index: 0;
}

.content3 p {
  z-index: 0;
}

.content3 .flair {
  content: "";
  background: var(--teal-highlight);
  position: absolute;
  inset: 0;
  left: var(--main-padding);
  height: 14rem;
  width: 8rem;
  z-index: -1;
}

code.example {
  background: var(--teal);
  border: 1px dashed var(--light-grey);
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  display: inline-block;
}
code.example.small {
  font-size: 1.3rem;
}
pre, code {
  font-family: 'Courier New', monospace;
}
a {
  color: var(--mint);
  text-decoration: none;
}
a:hover, a:visited:hover {
  color: var(--pale-mint);
}
a:active, a:hover:active {
  color: var(--neon-green);
}
.content1 a {
  color: var(--teal);
}
.content3 a {
  color: #54baab;
}
.content3 a:hover, .content3 a:visited:hover {
  color: #7dc9bf;
}
.content3 a:active, .content3 a:hover:active {
  color: #45edd6;
}
a.button, input[type=submit] {
  line-height: 3rem;
  border-radius: 1.5rem;
  padding: 0 5rem;
  background: white;
  color: var(--charcoal);
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  border: 0;
}
a.button:hover, input[type=submit]:hover, a.button:visited:hover, input[type=submit]:visited:hover {
  background: #7df2de;
  color: var(--charcoal);
}
a.button:active, input[type=submit]:active, a.button:visited:active, input[type=submit]:visited:active {
  background: #45edd6;
}
.content2 a.button, input[type=submit] {
  background: #54baab;
  color: white;
}
a.button:hover, a.button:visited:hover {
  background: #7dc9bf;
  color: white;
}
a.button:active, a.button:visited:active {
  background: #addbd6;
  color: white;
}
ul.linktree {
  list-style-type: none;
  margin: 0;
  margin-left: -1.2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 0;
  display: table;
  border-collapse: separate;
  border-spacing: 1rem;
}
ul.linktree li {
  display: table-row;
}
ul.linktree li a {
  display: table-cell;
}
.linktree .button {
  text-align: center;
}

.twocol {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(50% - 3rem));
  gap: 6rem;
}
img.constrained {
  max-width: 100%;
  max-height: 100%;
}

.genuine-innovation .twocol > div:first-child {
  padding: 2rem 0 3rem 0;
}
.genuine-innovation .twocol:first-child {
  margin-bottom: 10rem;
}
.genuine-innovation .twocol:nth-child(2) {
  margin-bottom: 10rem;
}

.hero p {
  font-size: larger;
}

input[type=email] {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  padding: 0 1.5em;
  margin: 0;
  line-height: 3rem;
  border-radius: 1.5rem;
  width: 20em;
  margin-right: 1rem;
  transform: translateY(-1px) translateX(-3px); /* or not aligned with submit button */
}

input[type=submit] {
  font-size: 100%;
  padding: 0 1.5rem;
  margin: 0;
}

.content2 input[type=email] {
  background-color: var(--pale-mint);
  color: var(--teal);
  width: 14em;
  margin-right: 0;
}

.content2 input[type=email]::placeholder {
  color: rgba(var(--trip-teal), 0.5);
}

.aside {
  font-variant: small-caps;
  opacity: 0.5;
  text-align: left;
}

.left-a-bit {
  transform: translateX(-3rem);
}
.right-a-bit {
  transform: translateX(3rem);
}

.twocol.left-a-bit, .twocol.right-a-bit {
  gap: 3rem;
}
