@media (min-width: 62rem) {
  .something-new-is-brewing {
    display: inline-block; /* not sure why, but removing this screws with the image on the right */
    position: relative; /* [1] */
  }
  .something-new-is-brewing h1, .genuine-innovation h2 {
    margin-top: 0; /* margin collapse doesn’t work due to above [1] */
  }

  .content > *:first-child.something-new-is-brewing {
    margin-top: 3rem;
  }
  .content > *:last-child.something-new-is-brewing {
    margin-top: 3rem;
  }

  .genuine-innovation .twocol > div:first-child {
    padding: 0;
  }

  .genuine-innovation .twocol:nth-child(2) {
    margin-bottom: 3rem;
  }
}

.hero {
  position: relative;
}

@media (max-width: 62rem) {
  .content {
    padding: 0 1.5rem;
    display: flow-root;
  }
  .content > *:first-child {
    margin-top: 2rem;
  }
  .content > *:last-child {
    margin-bottom: 2rem;
  }
  h1 {
    margin-top: 1rem;
  }
  .twocol {
    display: inline; /* to make margin-collapse happen */
  }
  .right-a-bit, .left-a-bit {
    transform: unset;
  }
  ul.linktree {
    display: initial;
  }
  ul.linktree li {
    display: block;
    margin-bottom: 1rem;
  }
  ul.linktree li>*, ul.linktree li a {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0.3rem;
  }
}

@media (max-width: 43rem) {
  .logo {
    height: 2rem;
  }
  #masthead {
    padding: 1.5rem;
  }
}
@media (max-width: 24.375rem) {
  body, html {
    font-size: 14px;
  }
}
@media (max-width: 20rem) {
  body, html {
    font-size: 12px;
  }
}


.image-container {
  position: relative;
}
.image-container-mobile {
  position: unset;
}

.image-container-mobile.blockchain {
  padding-top: 3rem;
}

@media (max-width: 62rem) {
  .image-container {
    position: unset;
  }
  .image-container-mobile {
    position: relative;
    padding-top: 8rem;
  }

  .image-container-mobile.blockchain {
    padding-top: 13rem;
  }
  .image-container-mobile.genuine-innovation {
    padding-top: 3rem;
  }
}

.something-new-is-brewing img {
  position: absolute;
  right: -30rem;
  bottom: 0;
  width: 26rem;
}

.lightbulb .image-container img {
  height: 16rem;
  position: absolute;
  top: 3rem;
  left: 0;
}

.blockchain .image-container img {
  position: absolute;
  top: 3rem;
  right: -1rem;
  height: 25rem;
  max-height: 45rem;
}

.open-governance .image-container img {
  position: absolute;
  height: 15rem;
  top: 0;
  left: 0;
}

.we-are-hiring .image-container img {
  height: 14rem;
  position: absolute;
  top: 0;
  right: 0
}

@media (max-width: 62rem) {
  .lightbulb .image-container img {
    height: 12rem;
    top: 0;
    right: -2rem;
    left: unset;
  }
  .image-container-mobile.lightbulb {
    padding-top: 3.8rem;
  }
  .blockchain .image-container img {
    height: 22rem;
    top: -1rem;
    left: -5.8rem;
    right: 0;
    clip-path: inset(10px 0 10px 0);
  }
  .we-are-hiring .image-container img {
    height: 10rem;
    position: absolute;
    top: 0;
    right: 0
  }
  .open-governance .image-container img {
    height: 8rem;
    right: 0;
    left: unset;
    top: -1rem;
  }
  .blockchain h2 {
    padding-left: 1.5rem;
  }
  .blockchain form {
    margin-bottom: 1rem;
  }
  form input[type="submit"] {
    font-size: 72%;
    -webkit-appearance: none;
  }
  input[type=email] {
    width: 50%;
  }
  h2 {
    position: relative;
    z-index: 1;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
  }
  .lightbulb h2, .blockchain h2, .genuine-innovation h2 {
    display: inline-block;
    margin-bottom: 0.83rem;
  }
  .blockchain, .lightbulb {
    display: block;
  }
  .something-new-is-brewing img {
    right: -12em;
    height: 14em;
    width: auto;
    top: 2.5em;
    bottom: unset;
  }
  code.example.small {
    max-width: 100%;
    min-width: 100%;
    overflow: scroll;
  }

  .content {
    overflow: hidden;
  }
}

@media (min-width: 90rem) {
  .logo {
    height: 2.8rem;
  }
  #masthead {
    padding-top: 2.45rem;
    padding-bottom: 2.45rem;
  }
}